version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 10s
      retries: 5

  node-app:
    build: .
    container_name: node-app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/JestDB
    depends_on:
      mongodb:
        condition: service_healthy
    command: ["npm", "test"]
