version: "3"
services:
  app:
    build: .
    container_name: node-app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/JestDB
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
